.postheader {
  padding-bottom: var(--size-8);
  border-bottom: 1px solid var(--color-blue-900);
  margin: var(--size-4) 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.postheader h1 {
  font-size: 3rem !important;
  color: var(--color-blue-500);
  margin: 0;
  line-height: initial;
  text-align: center;
}

.postheader img {
  object-fit: cover;
  width: 200px;
  height: 120px;
}

@media (min-width: 768px) {
  .postheader {
    margin: var(--size-8) 0;
    flex-direction: row;
    align-items: flex-end;
  }

  .postheader h1 {
    font-size: var(--size-16);
    text-align: left;
  }
}