.notification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-grey-100);
  background-color: #f0f0f0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  max-width: 90%;
  min-width: 20rem;
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
}

.notification h2 {
  font-size: var(--size-6);
  margin-bottom: 0.75rem;
}

.notification p {
  margin: 0;
}

.success {
  background-color: #e0f7fa; 
  color: #4CAF50; 
}


.error {
  background-color: #FFEBEE; 
  color: #D32F2F; 
}


@media (min-width: 768px) {
  .notification {
    max-width: 40rem;
    padding: 1.5rem 3rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
