.logo {
  font-size: var(--size-5);
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  color: var(--color-blue-100);
  opacity: 1;
  transition: 0.6s;
}

.logo:hover {
  color: var(--color-blue-600);
  opacity: 0.6;
}

@media (min-width: 768px) {
  .logo {
    font-size: var(--size-8);
  }
}