.fit {
  min-height: calc(100vh - 88px);
}

* {
  box-sizing: border-box;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  --color-grey-50: hsl(214, 55%, 96%);
  --color-blue-100: hsl(210, 10%, 90%);
  --color-blue-200: hsl(210, 10%, 40%);
  --color-blue-300: hsl(210, 20%, 40%);
  --color-blue-400: hsl(210, 50%, 40%);
  --color-blue-500: hsl(210, 60%, 40%);
  --color-blue-600: hsl(210, 70%, 40%);
  --color-blue-700: hsl(210, 80%, 40%);
  --color-blue-800: hsl(210, 90%, 40%);
  --color-blue-900: hsl(210, 100%, 40%);

  --color-primary-50: #c8b3ce;
  --color-primary-100: #a07aaa;
  --color-primary-200: #884c97;
  --color-primary-300: #843897;
  --color-primary-400: #732392;
  --color-primary-500: #5a097a;
  --color-primary-600: #480264;
  --color-primary-700: #346aaf;

  --color-success-100: #a2f0bc;
  --color-success-500: #12bd4b;

  --color-error-100: #f1acc9;
  --color-error-500: #a10c4a;

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-8: 2rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-40: 10rem;

  margin: 0;
  background-color: var(--color-grey-50);
  color: var(--color-blue-800);
  font-family: "Quicksand", 'Montserrat', 'Helvetica' !important;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 300px;
  overflow-x: hidden;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
  font-family: "Oswald", "Roboto", sans-serif;
}

a {
  text-decoration:underline;
  color: white;
  transition: 0.3s color ease-in-out;
}

a:hover {
  color: red; 
  text-decoration: none;
  font-size: 1rem;
}

button {
  font: inherit;
  cursor: pointer;
}

.profile-image-hero {
  display: inline-block;
  margin: 0 0.5rem;
  
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}

.animate__animated.animate__fadeIn {
  --animate-duration: 3s;
  --animate-delay: 0.9s;
}

.wallpaper {
  background-image: url("/assets/images/backgroud-images/miami.jpg");
  background-position: center;
  background-size: cover; 
  opacity: 0.2;
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1000;
}