@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul, ol {
    list-style: revert;
    margin: revert;
    padding: revert;
  }
  h1, h2, h3, h4, h5 {
    font-size:  revert; 
    font-weight: revert;
  }
}

.fit {
  min-height: calc(100vh - 88px);
}

* {
  box-sizing: border-box;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  --color-grey-50: hsl(214, 55%, 96%);
  --color-blue-100: hsl(210, 10%, 90%);
  --color-blue-200: hsl(210, 10%, 20%);
  --color-blue-300: hsl(210, 20%, 30%);
  --color-blue-400: hsl(210, 50%, 40%);
  --color-blue-500: hsl(210, 60%, 40%);
  --color-blue-600: hsl(210, 70%, 40%);
  --color-blue-700: hsl(210, 80%, 40%);
  --color-blue-800: hsl(210, 90%, 40%);
  --color-blue-900: hsl(210, 100%, 40%);

  --color-primary-50: #c8b3ce;
  --color-primary-100: #a07aaa;
  --color-primary-200: #884c97;
  --color-primary-300: #843897;
  --color-primary-400: #732392;
  --color-primary-500: #5a097a;
  --color-primary-600: #480264;
  --color-primary-700: #346aaf;

  --color-success-100: #a2f0bc;
  --color-success-500: #12bd4b;

  --color-error-100: #f1acc9;
  --color-error-500: #a10c4a;

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-8: 2rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-40: 10rem;

  margin: 0;
  background-color: var(--color-grey-50);
  color: var(--color-blue-800);
  font-family: "Quicksand", 'Montserrat', 'Helvetica' !important;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 300px;
  overflow-x: hidden;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
  font-family: "Oswald", "Roboto", sans-serif;
}

a {
  text-decoration:underline;
  color: red;
  transition: 0.3s color ease-in-out;
}

a:hover {
  color: red; 
  text-decoration: none;
  font-size: 1rem;
}

button {
  font: inherit;
  cursor: pointer;
}

.profile-image-hero {
  display: inline-block;
  margin: 0 0.5rem;
  
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}

.animate__animated.animate__fadeIn {
  --animate-duration: 3s;
  --animate-delay: 0.9s;
}

.wallpaper {
  background-image: url("/assets/images/backgroud-images/miami.jpg");
  background-position: center;
  background-size: cover; 
  opacity: 0.2;
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.freeSourceContainer {
  background-color: #11cdef;
  color: #fafaf9;
  font-family: 'Sono', sans-serif;
  padding: 48px 64px 0px;
} 

.hidden {
  display: none !important;
}

.message {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
  margin-top: 24px;
}

.badsource {
  color: #ef4444;
  font-weight: 600;
  margin-right: 0.6rem;
}

/* MAIN LAYOUT */
#root {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;

  height: calc(100vh - 48px - 68px - 40px);
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
    /* Fixed in a video text overlay, to fix scrolling issue on small screens */
    height: auto;
  }
}

section {
  overflow: scroll;
  padding-bottom: 40px;
}

/* ELEMENTS */

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 150px;
  height: 150px;
}

h1 {
  font-size: 3rem;
  color: #1d1e18;
  text-transform: uppercase;
  font-family: 'Coiny', sans-serif;
  line-height: 1;
  margin-top: 6px;
}

.category {
  margin-bottom: 16px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #1d1e18;
  margin-bottom: 16px;
  padding: 16px 24px;
  letter-spacing: 1px;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 24px;
}

aside {
    height: 100%;
    overflow: scroll;
}

@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}

.tag {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: 'Coiny', sans-serif;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 1rem;
}

.vote-buttons {
  margin-left: auto;
  flex-shrink: 0;
  display: flex;
  gap: 8px;
}

.vote-buttons button {
  border: none;
  background-color: #78716c;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 1rem;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.vote-buttons button:hover {
  background-color: #292524;
}

.vote-buttons button:disabled {
  background-color: #44403c;
}

.source:link,
.source:visited {
  color: #a8a29e;
  text-decoration: none;
  margin-left: 12px;
  transition: 0.3s;
}

.source:hover,
.source:active {
  color: #3b82f6;
}

.btn {
  border: none;
  font-family: 'Coiny', sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 1rem 0 0.9rem;
  background-image: linear-gradient(135deg, #6b8f71, #d9fff5, #b9f5d8 );
  color: #1d1e18;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(100%) rotate(-5deg);
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}

.btn-all-categories {
  margin-bottom: 16px;
  width: 100%;
}

.btn-category {
  width: 100%;
  background-image: none;
}

/* FORM */
.fact-form {
  background-color: #1d1e18;
  margin-bottom: 40px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
}

.fact-form input,
.fact-form select {
  width: 220px;
  background-color: #6b8f71;
  border: none;
  border-radius: 100px;
  padding: 16px;
  font-size: 18px;
  color: #1d1e18;
  font-family: inherit;
}

.fact-form input::placeholder {
  color: #1d1e18;
}

.fact-form input:first-child {
  flex-grow: 1;
}

.fact-form span {
  font-weight: 600;
  font-size: 1.2rem;
  margin-right: 1.2rem;
}

@media (max-width: 1000px) {
  body {
    /* padding: 32px 48px; */
  }

  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }

  .fact-form input,
  .fact-form select {
    width: auto;
  }
}

@media (max-width: 600px) {
    .header h1 {
        font-size: 1rem;
    }

    .logo img {
        width: 3rem;
        height: 3rem;
    }
} 

code {
  color: #fff;
  padding: 0.1rem !important;
  background: #000;
  display: block;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  padding: 0;
}