.header {
  width: 100%;
  height: 4rem;
  background-color: var(--color-blue-600);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.navMenu {
  display: flex;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

.header li {
  margin: 0 var(--size-4);
}

.user_email {
   border: 0.2px groove var(--color-blue-100);
   padding: 0.3rem; 
   color: var(--color-blue-100);
   font-size: 0.6rem
}

.header a {
  color: var(--color-blue-100) !important;
  font-size: var(--size-6) !important;
  transition: color 0.5s ease !important;
  text-decoration: none !important;
}

.header a:hover,
.header a:active,
.header a.active {
  color: var( --color-primary-100) !important;;
}

@media (max-width: 500px) {
  .header {
    flex-direction: column;
    padding: 0.3rem;
    height: auto;
  }
  .header li {
    margin: 6px;
  }
  .header a {
    font-size: var(--size-4) !important;
    transition: 0.6s;
  }

  .user_email {
   font-size: var(--size-1) !important;
  }

.user_email:hover {
      font-size: var(--size-3) !important;
    }
}

@media (max-width: 500px) { 
.header a {
    font-size: var(--size-3) !important;
  }

.user_email {
   font-size: var(--size-1) !important;
  }

.user_email:hover {
      font-size: var(--size-3) !important;
    }
}