.latest {
  width: 100%;
  padding: 2rem;
  text-align: center;
  border: 1px solid white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@media (max-width: 320px) {
  .latest {
    width: 100%;
    border: 1px solid #6b7072;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: var(--color-blue-600);
  }
}