.latest {
  width: 90%;
  margin: var(--size-8) auto;
  text-align: center;
}


.latest h2 {
  font-size: var(--size-4);
  color: var(--color-blue-800);
  text-align: center;
  font-size: 3rem; 
  font-weight: normal; 
  line-height: 3rem;
  margin: 1.5rem;
}

@media (min-width: 768px) {
  .latest h2 {
    font-size: var(--size-8);
  }
}